---
import { IMAGES, DESCRIPTION, TITLE } from "../utils/ImagesMap";
import { ButtonCorrousel } from "../js/Button";

function prevSlide(){}

function nextSlide() {}
---

<section class="grid relative
grid-cols-2 grid-rows-4 gap-4">
<div id="Global_div" class="row-span-3">
  <h2>{TITLE.GlobalBox}</h2>
  <p>{DESCRIPTION.GlobalBox}</p>
  
  <section id="carousel">
    {
        IMAGES.GlobalBox.map((img) => (
          <img class="object-hidden absolute" src={img.src.src} alt={img.alt} />
        ))
      }
        <div>
        <ButtonCorrousel prevSlide={prevSlide} nextSlide={nextSlide} />
        </div>
    </section>
  </div>
</section>

